---
title: Errors
description: Recipes without the annoying ads!
---
{% extends "layouts/base.njk" %}

{% block content %}
    <section class="content">
    	<h2 class="text-4xl text-blue-600 mb-8">Errors</h2>
			<ul class="list my-8 px-8">
				{% for e in errors %}
				<li>{{e.error.message}}: <a href="{{e.url}}">{{e.url}}</a></li>
				{% endfor %}
			</ul>
    </section> 

{% endblock %}