---
layout: layouts/base.njk
title: Ad-free Meals
description: Recipes without the annoying ads! 
---

<div class="max-w-4xl bg-white mx-auto text-xl pt-8 my-16 md:rounded-lg shadow-2xl flex items-end">
	    
    <section class="px-4">
			<h1 class="text-6xl text-blue-900 mb-8">Ad-Free Recipes</h1>
			<p>Note that some recipes are not compatible. Those are listed here as Errored Recipes. If your recipe appears here please reach out to Matt</a>
			<div>
				<a class="inline-block my-2 px-4 py-2 bg-blue-500 text-white hover:text-white border-blue-600 border-2 shadow-lg" href="/errors/">Errored Recipes</a>
				<a class="inline-block my-2 px-4 py-2 bg-blue-500 text-white hover:text-white border-blue-600 border-2 shadow-lg" href="https://app.forestry.io/sites/z-owheiayh8mag/#/pages/build-urls-json">Add a Recipe</a>
				</div>
			{% recipeList recipes, "name" %}
    </section> 

</div>
